<img src="badcoupon.jpg" style="margin-left:2%; margin-top:1%"><br><br>
<p style="margin-left:2%">
		ID  : <input type="text" ng-model="c.newCoupon.id" style="margin-left:1.5%"
			   placeholder="Coupon ID">
</p>
<p style="margin-left:2%">
		NAME: <input type="text" ng-model="c.newCoupon.name"
				   placeholder="Coupon Name">
	
 
<input type="button" value="Create" style="margin-left:2%" ng-click="c.createCoupon()" />
<br><br>
    <p ng-show="c.success" style="color:green; margin-left:2%">Coupon Successfully created!</p>
    <p ng-show="c.failure" style="color:red; margin-left:2%">Coupon was NOT created!</p>